$base: 80px;

@mixin portrait($base, $class: '') {
    $shipBase: $base * 54px / 80px;
    .portrait#{$class} {
        margin: 0px;
        position: relative;
        height: $base;
        width: $base;
        box-sizing: border-box;
        font-family: Verdana;

        &.ship {
            width: 1.62 * $shipBase;
            height: $shipBase + (50px / 400px * $base) + (35px / 400px * $base);
            display: flex;
            flex-direction: column;
        }

        > .character, .ship-wrapper > .character {
            position: absolute;
            margin: 0px;
            top: 45px / 400px * $base;
            left: 30px / 400px * $base;
            height: 340px / 400px * $base;
            width: 340px / 400px * $base;
            box-sizing: border-box;
            background: #000000;

            &.round { border-radius: 50%; }
        }

        &.ship {
            > .ship-wrapper {
                overflow: hidden;
                position: relative;
                height: 100%;
                width: 100%;
                margin-top: 30px / 400px * $base;
                background: black;

                .character {
                    height: auto;
                    width: 100%;
                    transform: translate(0, -18%) scale(0.85);
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }

            &.capital > .ship-wrapper {
                .character {
                    transform: translate(0, -25%);
                }
            }
        }

        > .gear {
            position: absolute;
            margin: 0px;
            top: 45px / 400px * $base;
            left: 30px / 400px * $base;
            height: 340px / 400px * $base;
            width: 340px / 400px * $base;
            box-sizing: border-box;
            background-image: var(--gear-image);
            background-repeat: no-repeat;
            background-size: 100%;

            &.g13 {
                top: 20px / 400px * $base;
                left: -10px / 400px * $base;
                height: 400px / 400px * $base;
                width: 420px / 400px * $base;

                .light & {
                    background-position: 0% 0%;
                }
                .dark & {
                    background-position: 0% 50.5%;
                }
                .neutral & {
                    background-position: 0% 101%;
                }
            }
        }

        &.ship {
            > .gear {
                top: 111px / 400px * $shipBase;
                left: -1px;
                bottom: -1px;
                right: -1px;
                width: auto;
                height: auto;
                background-size: contain;
            }

            &.capital > .gear {
                top: 104px / 400px * $shipBase;;
                left: -4px;
                bottom: -4px;
                right: -4px;
            }
        }

        > .stars {
            position: relative;
            display: block;
            width: 200px / 400px * $base;
            font-size: 0;
            text-align: center;
            margin: 0px;
            padding: 0px;

            > .full {
                color: #F6D913;
                width: 50px / 400px * $base;
                height: 50px / 400px * $base;
                position: absolute;
                display: inline-block;
            }
            > .empty {
                color: #AAA;
                width: 50px / 400px * $base;
                height: 50px / 400px * $base;
                position: absolute;
                display: inline-block;
            }


            > *:nth-child(1) {
                left: 0px;
                top: 105px / 400px * $base;
                transform: rotate(-62deg);
            }

            > *:nth-child(2) {
                left: 40px / 400px * $base;
                top: 48px / 400px * $base;
                transform: rotate(-43deg);
            }

            > *:nth-child(3) {
                left: 100px / 400px * $base;
                top: 12px / 400px * $base;
                transform: rotate(-18deg);
            }

            > *:nth-child(4) {
                left: 175px / 400px * $base;
                top: 0px;
            }

            > *:nth-child(5) {
                left: 250px / 400px * $base;
                top: 12px / 400px * $base;
                transform: rotate(18deg);
            }

            > *:nth-child(6) {
                left: 310px / 400px * $base;
                top: 48px / 400px * $base;
                transform: rotate(43deg);
            }

            > *:nth-child(7) {
                left: 350px / 400px * $base;
                top: 105px / 400px * $base;
                transform: rotate(62deg);
            }
        }

        &.ship > .stars {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            order: -1;

            > .full.full,  > .empty.empty {
                transform: rotate(0);
                top: 0;
                left: 0;
                position: relative;
            }
        }

        > .zetas {
            position: absolute;
            bottom: 10px / 400px * $base;
            left: 0px;
            height: 160px / 400px * $base;
            width: 160px / 400px * $base;
            text-align: center;
            font-size: 50px / 400px * $base;
            text-align: center;

            > img {
                position: relative;
                bottom: 0px;
                height: 160px / 400px * $base;
                width: 160px / 400px * $base;
            }

            > .value {
                position: absolute;
                color: #FFF;
                font-weight: 700;
                top: 40px / 400px * $base;
                left: 52.5px / 400px * $base;
                height: 60px / 400px * $base;
                width: 60px / 400px * $base;
                text-align: center;
                vertical-align: middle;
                text-shadow: 0 1px 0 #7028c9;
            }
        }

        > .level {
            position: absolute;
            bottom: 10px / 400px * $base;
            left: 150px / 400px * $base;
            height: 100px / 400px * $base;
            width: 100px / 400px * $base;
            font-size: 40px / 400px * $base;
            text-align: center;
            vertical-align: middle;
            border: (10px / 400px * $base) solid #fff;
            border-radius: 50px / 400px * $base;
            border-radius: 100%/130% 130% (75px / 400px * $base) (75px / 400px * $base);
            box-sizing: border-box;
            background: #264257;

            > .value {
                position: relative;
                color: #FFF;
                height: 100px / 400px * $base;
                top: 0px / 400px * $base;
                left: 2px / 400px * $base;
                font-size: 56px / 400px * $base;
                text-shadow: 0 1px 0 black;
            }
        }

        &.ship {
            > .level {
                right: 1px;
                bottom: 0px;
                left: unset;
                background: none;
                border: none;
                height: auto;
                width: auto;
                line-height: 1;

                > .value {
                    position: relative;
                    height: auto;
                    top: 0;
                    left: 0;
                    font-size: 45px / 400px * $base;
                }
            }

            &.capital > .level {
                right: 0;
            }
        }


        > .relic {
            position: absolute;
            bottom: -1px;
            right: 0px;
            height: 180px / 400px * $base;
            width: 180px / 400px * $base;
            text-align: center;
            font-size: 50px / 400px * $base;
            text-align: center;
            background-image: url('/images/units/abilities/relic.png');
            background-repeat: no-repeat;
            background-size: 100%;

            .light & {
                background-position: 0% 0%;
            }
            .dark & {
                background-position: 0% 51%;
            }
            .neutral & {
                background-position: 0% 102%;
            }

            > .value {
                position: absolute;
                color: #FFF;
                font-weight: 700;
                top: 45px / 400px * $base;
                left: 0px / 400px * $base;
                // height: 60px / 400px * $base;
                // width: 60px / 400px * $base;
                width: 100%;
                text-align: center;
                vertical-align: middle;
                text-shadow: 0 1px 0 black;
            }
        }

        &.relic-only {
            height: 180px / 400px * $base;
            width: 180px / 400px * $base;
        }

        &.zeta-only {
            height: 160px / 400px * $base;
            width: 160px / 400px * $base;
        }

        &.centered {
            margin: 0 auto;
        }

        > .value {
            position: absolute;
            color: #fff;
            font-weight: 700;
            font-size: 120px / 400px * $base;
            top: 110px / 400px * $base;
            left: 0px / 400px * $base;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            text-shadow: 0 1px 0 black;
        }
    }
}

@mixin relic-portrait($base, $class: '') {
    .relic-portrait#{$class}  {
        position: relative;
        display: inline-block;
        width: $base;

        .backdrop {
            position: relative;
            height: $base;
            background: url(/images/gear/relic-backdrop-atlas.png) transparent no-repeat;
            background-size: $base;
            border-radius: 50%;
        }

        &.light .backdrop {
            background-position: 0 0;
            background-color: $dark-navy;
        }

        &.dark .backdrop {
            background-position: 0 50%;
            background-color: #27080c;
        }

        &.neutral .backdrop {
            background-position: 0 100%;
            background-color: #222;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 80%;
            height: 80%;
        }
        .name {
            font-weight: 700;
            text-align: center;
            padding: 0 10px;
            line-height: 1.2;
            margin-top: 5px;
        }

        .tier {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-size: $base * 3 / 20;
            font-weight: 700;
            color: #fff;
            text-shadow: -1px -1px 0 #000,2px -1px 0 #000,2px 2px 0 #000,-1px 2px 0 #000,2px 3px 0 #000,1px 3px 0 #000,2px 3px 0 #000
        }

    }
}

.locked::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: $black, $alpha: 0.6);
    border-radius: 50%;
    background-image: url(/images/gear/lock.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 33%;
}

@include portrait(80px);
@include portrait(150px, '.giant');
@include portrait(100px, '.large');
@include portrait(65.84px, '.ship-80');
@include portrait(65px, '.medium');
@include portrait(36px, '.mini');

@include relic-portrait(160px);
@include relic-portrait(64px, '.mini');
@include relic-portrait(96px, '.small');
@include relic-portrait(150px, '.medium');
@include relic-portrait(256px, '.large');

.character-list {
    .characters.characters {
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid $gray-400;
    }


    a.character-wrapper {
        margin-bottom: 8px;
        padding: 0 4px;

        &, &:hover {
            color: $text;
            text-decoration: none;
        }

        &:hover .characters.characters {
            border: 1px solid $gray-900;
        }
    }
}

.character-profile {
    > .col-6 {
        padding: 0 4px;

        &:first-child {
            padding-left: 8px;
        }
        &:last-child {
            padding-right: 8px;
        }
    }
    .portrait-wrapper {
        &.char {
            padding: 16px calc(((100% - 208px * 2) / 2) + ((208px - 150px) / 2));
        }
        &.ship {
            padding: 16px 0;
        }
        margin: 0;
        background-image: radial-gradient(ellipse at bottom center, $light-navy, $dark-navy);
    }

    .character-info-wrapper {
        max-width: 500px;
        border: 1px solid $gray-800;
        border-radius: 4px;
        margin: 0 auto;

        .pilot-wrapper.glass-back {
            border-radius: 35px;
            margin-bottom: 4px;

            &.left {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 2px 6px 4px 2px;
            }
            &.right {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: 2px 2px 4px 6px;
            }

            > :first-child {
                margin-right: 4px;
            }
        }
        .mod-details {
            background-image: radial-gradient(ellipse at top center, $light-navy, $dark-navy);

            > :nth-child(odd) {
                .mod .info {
                    flex-direction: row-reverse;
                    .data {
                        align-items: flex-end;
                        margin-right: 8px;
                    }
                }
            }

            .mod {
                background: rgba($color: $overlay-navy, $alpha: 0.6);

                .data {
                    color: $gray-200;
                    text-shadow: 1px 1px 0 $gray-900;
                }

                .primary {
                    font-weight: 700;
                    font-size: 14px;
                    color: $white;
                }

                .good {
                    color: #5bb9ab;
                    font-weight: 600;
                }

                .mod-character {
                    display: none;
                }
            }
        }

        .items-needed {
            background-image: radial-gradient(ellipse at bottom center, $light-navy, $dark-navy);
            font-weight: 400;
            color: $white;
            text-shadow: 1px 1px 0 $gray-900;
            margin: 8px auto;

            img {
                width: 22px;
                box-sizing: content-box;
            }

        }
    }

}

.ability-row {
    background-image: radial-gradient(ellipse at top center, $light-navy, $dark-navy);
}
.ability-wrapper {
    position: relative;
    border: 3px double $overlay-navy;
    box-shadow: 0 0 2px $white;
    border-radius: 4px;
    margin: 4px;

    &.light {
        border-color: $dark-navy;
    }

    &.dark {
        border-color: #27080c;
    }

    &.neutral {
        border-color: #222;
    }

    img.ability {
        width: 44px;
    }

    .ability-flair {
        width: 20px;
        position: absolute;
        bottom: -8px;
        right: -8px;
    }

    div.ability-flair {
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        border: 1px solid $light-navy;
        background: $dark-navy;
        padding: 0;
        line-height: 1;
        bottom: 0;
        right: 0;
        font-size: 13px;
        width: 15px;
        height: 15px;

        > .value {
            position: relative;
            color: #FFF;
            text-shadow: 0 1px 0 black;
        }
    }
}

.ability-description {
    min-width: 300px;
    white-space: pre-wrap;
}

.stat-list {
    background: #1e2941;
    padding: 0;
    border: 1px solid $gray-800;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    flex-basis: 50%;

    font-weight: 400;
    color: $white;
    text-shadow: 1px 1px 0 $gray-900;

    .row {
        margin: 0;
        &:not(:last-child) {
            margin-bottom: 4px;
        }

        > * {
            padding: 6px 8px;
        }

        &:nth-child(odd) {
            background: $light-navy;
        }

        &:nth-child(even) {
            background-color: $dark-navy;
        }
    }

    a.row {
        color: $white;

        &:hover {
            text-decoration: none;

            &:nth-child(odd) {
                background: scale-color($color: $light-navy, $lightness: 15%);
            }

            &:nth-child(even) {
                background-color: scale-color($color: $dark-navy, $lightness: 15%);;
            }
        }
    }

    > :not(.row) + * > .stat-header {
        margin-top: 4px;
    }

    .stat-header {
        &.row {
            background: $overlay-navy;

            &.with-stat {
                background: $dark-navy;
            }
        }

        > :first-child {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .bonus {
        font-weight: 500;
        margin-left: 2px;
        color: #5bb9ab;
    }
}
