 /*prevent bootstrap-vue css conflict*/
 .v-select.dropdown .dropdown-toggle::after {
    content: inherit;
    display: none;
}
.v-select.dropdown .form-control {
    height: inherit;
}

.form-group.row > .v-select .dropdown-toggle {
    padding: 2px 0 6px;
}

popover {
    [slot="content"] {
        display: none;
    }
}

.popover {
    border: 0;

    .popover__container {
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 2px black;
        width: 0;
        height: 0;
        opacity: 0;
        transition-property: width, height, opacity;
        transition-duration: 25ms;
        transition-timing-function: ease-out;
    }

    &.open {
        z-index: 2000;

        .popover__container {
            width: 150px;
            height: auto;
            opacity: 1;
        }
    }
}

.popover.teams {
    position: relative;

    button.btn.btn.btn-primary {
        outline: none;
        box-shadow: none;
        transition-property: border-radius;
        transition-duration: 25ms;
        transition-timing-function: ease-out;
    }

    .popover__container {
        border-top-left-radius: 0;

        ul {
            margin: 0;
            overflow: hidden;
            border-radius: 8px;
            border-top-left-radius: 0;
        }

        a {
            display: inline-block;
            width: 100%;
            padding: 8px 8px;
            cursor: pointer;

            &:hover {
                background-color: $primary;
                color: white;
                text-decoration: none;
            }
        }
    }

    &.open {
        .popover__face {
            button.btn {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .popover__container {
            width: 150px;
            height: auto;
            opacity: 1;
        }
    }
}

.btn.btn-primary.inverted {
    outline: none;
    box-shadow: none;
    color: $primary;
    background: none;
    border: 0;

    &:hover {
        color: #03688f;
    }
}

.IZ-select__item {
  padding: 4px 8px;

  &:hover {
    background-color: $hover;
    color: $white;
  }
}

ion-icon {
    &[size="micro"] {
        font-size: 15px;
    }
    &[size="medium"] {
        font-size: 24px;
    }
    &[size="giant"] {
        font-size: 64px;
    }
    &[size="huge"] {
        font-size: 104px;
    }

    &.gold {
        color: #ffcc33;
    }
}