.icon-grid {
	grid-gap: 10px;

	/* grid support */

	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    max-width: 5 * 150px + 4 * 10px; // 5 150px columns + 4 10px spaces

	> * {
		border-radius: 5px;
		margin-bottom: 10px;
    }

    .icon-wrapper {
        width: 150px;
        background-size: 100% 100%;
        margin: 0 auto 15px;
        position: relative;
        background-color: $primary;
		border-radius: 17.544%;
        border: 1px solid $light-navy;
        transition: 0.3s background-color ease-out;

        &:hover {
            background-color: $hover;
        }

        a {
            color: white;
        }

        > a > .image {
            width: 150px;
            height: 150px;
            background-size: 100% 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            > .icon {
                font-size: 140px;
            }
        }
    }

    .label {
        a {
            color: #4c4c4c;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 21px;
            text-align: center;
            font-size: 14px;

            .dark-back &, .radiant-back & {
                color: $white;
            }
        }
    }

}

@media only screen and (min-width: 3 * 150px + 2 * 10px) {
	.icon-grid.inner {
		width: 100%;
	}
}

.masonry-grid {
    display: flex;
    flex-wrap: wrap;

    > * {
        background-color: $gray-100;
        margin: 0 16px 16px 0;
        text-align: center;
        flex: 1 0 auto;

        white-space: nowrap;

        > * {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &:hover {
            background-color: $gray-400;
        }
    }
}

$m: 0.5rem;
$p: .25rem;
$min-w: 15rem;

.death-star-grid {
    --i: -1;
    --j: -1;
    --r: 64px;

    background-color: rgba($color: $bg-dark-navy, $alpha: 0.9);
    background-blend-mode: luminosity;

    .card-header {
        position: relative;
        text-align: center;
        background-color: rgba($color: $white, $alpha: 0.9);
        // color: $white;

        &:before/*, &:after*/ {
            position: absolute;
            left: 50%;
            content: '';
        }

        &:before {
            top: 100%;
            width: calc(.0625 * var(--r));
            height: calc(2.25 * var(--r) + #{$m});
            transform: translate(-50%);
            background: rgba($color: $white, $alpha: 0.9) padding-box;
        }

        // &:after {
        //     top: calc(#{$m} + 4.4 * var(--r));
        //     padding: calc(.85 * var(--r));
        //     border-radius: 50%;
        //     transform: translate(-50%, - 50%);
        //     // box-shadow: 0 0 0 5px #fff;
        //     // background: #fff padding-box;
        //     background: url(/images/ds-white.png);
        //     background-position: center center;
        //     background-size: cover;
        //     background-repeat: no-repeat;
        // }
    }

    .card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-width: 1000px;

        background: url(/images/ds-white.png);
        background-position: center calc(2.625 * var(--r));
        background-size: calc(2 * .85 * var(--r));
        background-repeat: no-repeat;
    }

    .icon-wrapper, .label {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: $p;
        color: $white;
    }

    .icon-wrapper {
        height: calc(2 * var(--r));
        color: #e1bc4a;
    }

    .label {
        min-width: 95%;
        background: rgba($overlay-navy, .85);
        text-align: center;

        justify-content: flex-start;
        text-align: left;
        height: var(--r);

        > h1 {
            font-size: 18px;
            padding: 0 $p;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 40%;
        overflow: hidden;
        margin: $m;
        min-width: $min-w;
        border-radius: 1em;
        cursor: pointer;

        --stop-list: transparent var(--r), #000 0;
        position: relative;
        background-color: rgba($overlay-navy, .6);
        transition: background-color 0.3s ease-out;

        &:hover {
            background-color: rgba($overlay-navy, .9);
        }

        @for $i from 0 to 4 {
            &:nth-of-type(#{4 - $i}) {
                /* autoprefixer: ignore next */
                --webkit-mask-box-image: radial-gradient(circle at #{($i%2)*100%} #{floor($i/2)*100%}, var(--stop-list));
                /* autoprefixer: ignore next */
                mask: radial-gradient(circle at ($i%2)*100% floor($i/2)*100%, var(--stop-list));
            }
        }
        /* autoprefixer: ignore next */
        mask-composite: intersect;
        -webkit-mask-composite: destination-atop;

        &:nth-of-type(3), &:nth-of-type(4) { flex-direction: column-reverse; }

        &:nth-of-type(-n + 2) { --j: 1 }
        &:nth-of-type(odd) { --i: 1 }

        &:nth-of-type(even) {
            .label {
                justify-content: flex-end;
                text-align: right;
            }
        }
    }
}
