
@import "variables";
$base: 200px;

.member-profile {

    &.container {
        width: 1000px;
    }

    .member-level {
        height: 100px / 400px * $base;
        width: 100px / 400px * $base;
        font-size: 40px / 400px * $base;
        text-align: center;
        vertical-align: middle;
        border: (10px / 400px * $base) solid #fff;
        border-radius: 50px / 400px * $base;
        border-radius: 100%/130% 130% (75px / 400px * $base) (75px / 400px * $base);
        box-sizing: border-box;
        background: #264257;

        > .value {
            position: relative;
            color: #FFF;
            height: 100px / 400px * $base;
            top: 0px / 400px * $base;
            left: 2px / 400px * $base;
            font-size: 56px / 400px * $base;
            text-shadow: 0 1px 0 black;
        }
    }

    h2 {
        margin-top: 16px;
    }

    &.member-character {
        h2 {
            margin-top: 8px;
        }
    }

    .guild-info {
        cursor: pointer;
        margin-top: 8px;
        transition: background-color, 300ms, ease-in-out;

        > :first-child {
            margin-top: 8px;
        }

        &:hover {
            background: rgba($color: $overlay-navy, $alpha: 0.8);
        }
    }

    .player-stats {
        width: 50%;
        margin-left: 8px;

        .row {
            margin-left: 0;
            margin-right: 0;
        }
        > .row {
            margin-bottom: 8px;
        }
    }

    .profile-card {
        color: $white;
        text-shadow: 1px 1px 0 $gray-900;

        .modal-wrapper {
            text-shadow: none;
            color: $text;
        }

        a {
            color: $white;
            &:not(.gg-link)[target=_gg]:hover::after {
                background-image: url(/images/bb8-white.svg);
            }
        }

        .member-list table td {
            border-color: $gray-700;
        }
    }
}