
.portrait-preview {
    display: flex;
    align-items: center;
    height: 36px;
    max-height: 36px;
    overflow: hidden;
    font-size: 1vmax;

    .IZ-select__input & {
        width: calc(100% - 36px);
    }

    .character {
        max-height: 100%;
        background-color: #444;
        border-radius: 3px;
    }

    .character-name {
        flex-grow: 1;
        text-align: center;
        margin: 0 4px;
    }
}

.add-squad-row {

    .btn.btn-primary {
        width: 55px;
    }

    .dropdown.v-select {
        min-width: 200px;

        .dropdown-toggle {
            height: 36px;
            padding: 0;
        }

        .vs__selected-options {
            padding: 0;

            .portrait-preview {
                height: 34px;
                max-height: 34px;
            }
        }

        &.single .selected-tag {
            margin: 0;
            padding: 0;
            border: none;
        }


    }
    &.multiple .dropdown.v-select {
        --select-width: calc(100% - 71px);
        width: var(--select-width);

        .dropdown-toggle {
            min-height: 42px;
            height: auto;
            padding: 0;
        }

        .selected-tag {
            margin: 2px 4px;
            padding-left: 0;
        }

        .character-name {
            text-align: left;
        }
    }
}

.squad-table {
    border-collapse: separate;
    width: 100%;

    td, th {
        background-color: rgba($color: #000, $alpha: 0.1);
        border: 1px solid transparent;
        background-clip: content-box;
        border-collapse: collapse;
        border-radius: 4px;

    }
    &:nth-child(even) {
        td {
            background-color: rgba($color: #000, $alpha: 0.25);
        }
    }

    th > span {
        display: block;
        text-align: center;
        padding: 4px 8px;
    }

    th.blank, td.blank {
        background: none;
    }

    .squad-row {

        td.top {
            vertical-align: top !important;
        }

        .description-wrapper {
            padding: 0 8px;
        }

        .char-image-column {
            margin: 0 auto;
            width: 60px;

            .char-name {
                white-space: normal;
            }
        }

        .form-check-inline {
            margin: 0;
            width: 100%;
            justify-content: center;

            .form-check-input {
                margin: 0 4px;
            }
        }
    }
}

.squad-list-body {
    > .row:nth-child(odd) {
        background-color: $gray-300;
    }
}