@import "variables";

.container.guild-members.guild-members {
    width: 1500px;
}
.container.narrow-list.narrow-list {
    width: 800px;
}
[highlight] > div.row {
    margin: 0;
}

// $m: ();

// @for $i from 0 to 4 {
//     $m: $m, radial-gradient(circle at ($i%2)*100% floor($i/2)*100%, var(--stop-list));
// }

.unit-list, .guild-list {
    .row {
        margin: 0 0 8px;
        justify-content: stretch;
        align-items: center;

        &.cut-corner {
            --r: 22px;

            --stop-list: transparent var(--r), #000 0;
            position: relative;
            padding: var(--r);
            background: rgba($overlay-navy, .85);
            &:nth-child(even) {
                mask: radial-gradient(circle at 0 0, var(--stop-list)),
                      radial-gradient(circle at 100% 100%, var(--stop-list));
            }
            &:nth-child(odd) {
                mask: radial-gradient(circle at 0 100%, var(--stop-list)),
                      radial-gradient(circle at 100% 0, var(--stop-list));
            }
            /* autoprefixer: ignore next */
            mask-composite: intersect;
            -webkit-mask-composite: source-in, xor;
            border-radius: 8px;
        }
    }

    &.unit-list .row:not(:last-child), &.guild-list .column.border-bottom {
        border-bottom: 1px solid grey;
    }
}
.unit-list {
    .row {
        > * {
            flex-grow: 1;
            &:first-child {
                flex-basis: 200px;
                text-align: right;
                margin-right: 8px;
                flex-grow: 0;
            }
            &:nth-child(2) {
                max-width: calc(100% - 208px - 35px);
            }
            &:last-child {
                flex-grow: 0;
            }
        }
    }
}
.guild-list {
    .row {
        > * {
            flex-grow: 0;

            &:not(:first-child) {
                margin-left: 8px;
            }

            &.grow {
                flex-grow: 1;
            }
        }
    }

    .guild-team-list {
        justify-content: center;
        align-items: center;
        .btn {
            background-color: $gray-500;
            border-color: $secondary;
            color: $white;
            display: inline-flex;
            &:hover {
                background-color: $gray-800;
            }
        }
    }
}

.add-row {
    justify-content: flex-start;
    padding: 8px;
    > :not(:last-child) {
        margin-right: 8px;
    }
}
.member-list {
    .member {
        margin-bottom: 8px;
        padding-bottom: 8px;

        &:not(:last-child) {
            border-bottom: 1px solid grey;
        }
        .row {
            justify-content: stretch;
            align-items: center;
            padding: 4px 16px;
            > * {
                flex-grow: 0;
                &:not(:first-child) {
                    margin-left: 8px;
                }
            }
            :first-child {
                flex-grow: 1;
            }
        }
    }

    table {
        width: 100%;
        table-layout: fixed;

        tr > .header {
            width: 175px;
        }

        td {
            height: 1px;
            vertical-align: top;
            border: 1px solid black;
            text-align: center;

            &:first-of-type > a, &:first-of-type > .small-note {
                display: block;
                text-align: left;
                margin-left: 8px;

                &.small-note {
                    font-size: 12px;
                }
            }

            > * {
                height: 100%;
            }

            &.header > * {
                height: auto;
            }
        }
    }

    & + & table td {
        border-top-width: 0;
    }

    .unit-table tbody td.header {
        width: 125px;

        > div:first-child {
            font-weight: 700;
            text-align: left;
            margin-left: 8px;
        }
    }
}

$highlight-colors: (#ceffa4, #b39acd, #f5eda3);
.team-set, .character-wrapper {
    > .popover {
        &, > .popover__face {
            &, > * {
                height: 100%;
            }
        }
    }
    .character {
        height: 100%;
        padding: 4px;
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: flex-start;

        // background-color: red;
    }

    [highlight] & {
        --highlight-color: #{rgb-values-from($red)};

        // Everything has the stars attribute
        [stars] {
            overflow: hidden;
            --bg-color: var(--highlight-color);
            background-color: rgba(var(--bg-color), var(--bg-alpha, 0.75));
            // box-shadow: inset 0 0 6px 0px rgba(var(--highlight-color), 0.65);

            .character {
                box-shadow: 0 0 46px 20px rgba(var(--highlight-color), 0.95);
            }
        }
    }

    [highlight="none"] & [gear] {
        @include navy-gradient-background;
        --highlight-color: #{rgb-values-from($bg-dark-navy)};
    }

    [highlight]:not([highlight="none"]) & [gear] {
        &[gear="13"] {
            // background-color: none;
            // background: linear-gradient(to top, rgba($color: #fe150d, $alpha: 0.5), rgba($color: #eadb39, $alpha: 0.5))
            --highlight-color: #{rgb-values-from(nth($highlight-colors, 3))};

            &.light {
                --highlight-color: #{rgb-values-from($light-navy)};
                --bg-color: #{rgb-values-from(#4ca1ff)};
                --bg-alpha: 0.95;
            }

            &.dark {
                --highlight-color: #{rgb-values-from($light-red)};
                --bg-color: #{rgb-values-from(#ff8682)};
                --bg-alpha: 0.95;
            }
        }

        &[gear="12"] {
            // background-color: rgba($color: #eadb39, $alpha: 0.5);
            --highlight-color: #{rgb-values-from(nth($highlight-colors, 3))};
        }

        &[gear="11"], &[gear="10"] {
            // background-color: rgba($color: rebeccapurple, $alpha: 0.5);
            --highlight-color: #{rgb-values-from(nth($highlight-colors, 2))};
        }
    }

    [highlight="stars"] & [stars] {
        &.light.light, &.dark.dark {
            // background-color: red;
            &[stars="7"] {
                // background-color: rgba($color: #eadb39, $alpha: 0.5);
                --highlight-color: #{rgb-values-from(nth($highlight-colors, 3))};
            }
        }
    }
    [highlight="power"] & [power] {
        &.light.light, &.dark.dark {
            // background: none;
            // background-color: red;
            &[power="1"] {
                // background-color: rgba($color: rebeccapurple, $alpha: 0.5);
                --highlight-color: #{rgb-values-from(nth($highlight-colors, 2))};
            }
            &[power="2"], &[power="3"], &[power="4"], &[power="5"], &[power="6"] {
                // background-color: rgba($color: #eadb39, $alpha: 0.5);
                --highlight-color: #{rgb-values-from(nth($highlight-colors, 3))};
            }
        }
    }

    [highlight="power-stars"] & [stars] {
        &.light.light, &.dark.dark {
            // background: none;
            // background-color: red;
            &[stars="7"] {
                &[power="1"], &[power="2"] {
                    // background-color: rgba($color: rebeccapurple, $alpha: 0.5);
                    --highlight-color: #{rgb-values-from(nth($highlight-colors, 2))};
                }
                &[power="3"], &[power="4"], &[power="5"], &[power="6"] {
                    // background-color: rgba($color: #eadb39, $alpha: 0.5);
                    --highlight-color: #{rgb-values-from(nth($highlight-colors, 3))};
                }
            }
        }
    }

    [highlight="power-plus"] & [stars] {
        &.light.light, &.dark.dark {
            // background: none;
            // background-color: red;
            &[stars="7"] {
                &[power="4"] {
                    // background-color: rgba($color: #99ff33, $alpha: 0.5);
                    --highlight-color: #{rgb-values-from(nth($highlight-colors, 1))};
                }
                &[power="5"] {
                    // background-color: rgba($color: rebeccapurple, $alpha: 0.5);
                    --highlight-color: #{rgb-values-from(nth($highlight-colors, 2))};
                }
                &[power="6"] {
                    // background-color: rgba($color: #eadb39, $alpha: 0.5);
                    --highlight-color: #{rgb-values-from(nth($highlight-colors, 3))};
                }
            }
        }
    }

    [highlight="mods"] & [mod-grade] {
        &.light.light, &.dark.dark {
            &[mod-grade="0"] {
                --highlight-color: #{rgb-values-from(#ff0000)};
                --bg-color: #{rgb-values-from(#ff0000)};
            }
            &[mod-grade="1"] {
                // background-color: rgba($color: #ff5500, $alpha: 0.5);
                --highlight-color: #{rgb-values-from($swgoh-orange)};
                --bg-color: #{rgb-values-from(#ff5500)};
            }
            &[mod-grade="2"] {
                // background-color: rgba($color: #99ff33, $alpha: 0.5);
                --highlight-color: #{rgb-values-from(nth($highlight-colors, 1))};
                --bg-color: #{rgb-values-from($green)};
            }
            &[mod-grade="3"] {
                // background-color: rgba($color: rebeccapurple, $alpha: 0.5);
                --highlight-color: #{rgb-values-from(nth($highlight-colors, 2))};
                --bg-color: #{rgb-values-from(#663399)};
            }
            &[mod-grade="4"] {
                // background-color: rgba($color: #eadb39, $alpha: 0.5);
                --highlight-color: #{rgb-values-from(nth($highlight-colors, 3))};
                --bg-color: #{rgb-values-from(#eadb39)};
            }

            .stat {
                border: 1px solid rgba($color: black, $alpha: 0.5);

                &[grade="0"] {
                    background-color: rgba($color: red, $alpha: 1);
                }
                &[grade="1"] {
                    background-color: rgba($color: #ff5500, $alpha: 1);
                }
                &[grade="2"] {
                    background-color: rgba($color: $green, $alpha: 1);
                }
                &[grade="3"] {
                    background-color: rgba($color: rebeccapurple, $alpha: 1);
                }
            }
        }
    }
}

.demo-swatch {
    padding-left: 20px;
    position: relative;

    &::before {
        content: '';
        border: 8px solid transparent;
        position: absolute;
        top: calc(50% - 8px);
        left: 0;

    }
    &.tier-0::before {
        border-color: #ff0000;
    }

    &.tier-4::before {
        border-color: #ff5500;
    }

    &.tier-1::before {
        border-color: $green;
    }

    &.tier-2::before {
        border-color: rebeccapurple;
    }

    &.tier-3::before {
        border-color: #eadb39;
    }
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .stat-container {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    > span.zeta-list, .stat-wrapper {
        display: flex;
        align-items: baseline;
        justify-content: center;
        z-index: 5;

        &.zeta-list {
            text-align: center;
            text-transform: uppercase;
        }

        .zeta, & .stat {
            font-size: 10px;
            margin-left: 4px;
            border-radius: 50%;
            background: rgba($color: black, $alpha: 0.6);
            color: white;
            font-weight: bold;
            height: 16px;

            &.zeta {
                width: 16px;
            }

        }

        &.stat-wrapper {
            margin-top: 4px;
            align-items: center;

            .stat {
                padding: 1px 4px;
                border-radius: 8px;
                display: flex;
                align-items: center;

                :first-child {
                    margin-right: 4px;
                }
            }
        }
    }
}

.popover.characters {
    border-radius: 0;
}

.squad-switcher {
    padding: 0 8px;
    background-color: $gray-500;
    box-shadow: inset 0 0 2px $gray-800;

    &.row {
        margin: 0;
    }

    a.btn {
        color: $white;
        display: inline-flex;
        text-decoration: none;
        border-radius: 0;

        &.selected {
            background-color: $primary;
        }
        &:hover {
          background-color: $gray-800;
        }
    }
}

.portrait-list {
    > div {
        margin: 2px 4px;
        padding: 8px;
    }


    [highlight="relic"] & [relic] {
        background: none;
        background-color: red;
        border-style: solid;
        border-width: 5px;
        border-color: red;
        border-radius: 8px;
        padding: 4px;

        .popover {
            background-color: unset;
            top: -3px;
        }

        &[priority="5"] {
            background-color: rgba($color: nth($mod-colors, 1), $alpha: 0.5);
            border-color: nth($mod-colors, 1);
        }
        &[priority="4"] {
            background-color: rgba($color: nth($highlight-colors, 1), $alpha: 0.5);
            border-color: nth($highlight-colors, 1);
        }
        &[priority="3"] {
            background-color: rgba($color: nth($mod-colors, 3), $alpha: 0.5);
            border-color: nth($mod-colors, 3);
        }
        &[priority="2"] {
            background-color: rgba($color: nth($highlight-colors, 2), $alpha: 0.5);
            border-color: nth($highlight-colors, 2);
        }
        &[priority="1"] {
            background-color: rgba($color: nth($highlight-colors, 3), $alpha: 0.5);
            border-color: nth($highlight-colors, 3);
        }
        &[relic="0"] {
            border-color: red;
        }
    }
}

.portrait-list-header-wrapper.portrait-list-header-wrapper {
    border-radius: 8px;
    border: 5px solid $sw-yellow;
    background: url(/images/welcome/stars.jpg);
    background-attachment: fixed;
    box-shadow: 0 0 3px black;
    border-radius: 8px;

    [highlight] > &, & {
        margin-bottom: 10px;
    }

    .portrait-list-header.portrait {
        border-radius: 50%;
        background-color: rgba($color: $sw-yellow, $alpha: 0.9);
        overflow: hidden;
        > .character {
            background: none;
            font-size: 2.25rem;
            font-weight: bold;
            top: 12px;
            color: $white;
            text-shadow: 0 1px 4px $gray-900;
        }
        > .gear.g13 {
            top: 1px;
        }
    }
}

.char-name {
    font-weight: 600;
    font-size: .7em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.char-image-wrapper {
    display: inline-block;
    margin: 4px auto 0;
    overflow: hidden;
    width: 100%;
}

.char-image-square {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    border: 3px double #bfd5ff;
    box-shadow: 0 0 3px #0071d6;
    margin: 4px auto 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;

    &.small {
        width: 32px;
        height: 32px;
    }

    &.medium {
        width: 48px;
        height: 48px;
    }

    &.ship {
        border-radius: 4px;
        width: 52px;

        > img {
            position: relative;
            top: -30%;
        }
    }

    > img {
        width: 100%;
        background-color: black;
        box-shadow: inset 0 0 3px #0071d6;
        vertical-align: top;
    }

    &.dark {
        border-color: #ffcfd0;
        box-shadow: 0 0 3px #f70019;

        > img {
            box-shadow: inset 0 0 3px #f70019;
        }
    }
}

.footer-logo {
    padding-top: 8px;

    .logo {
        background: rgba($color: black, $alpha: 0.8);
        padding: 2px 4px 4px;
        box-sizing: content-box;
        border-radius: 12px;
        svg {
            fill: $sw-yellow;
        }
    }

}
.row.row.top.top {
    align-items: flex-start;
}

.grow.grow {
    flex-grow: 1;
}

@media (min-width: 110ex) {
    .row.row.nowrap {
        flex-wrap: nowrap;
    }
}
@supports (-moz-appearance:none) {
    .member-list table td {
        height: 100%;

        > * {
            height: auto;
        }
    }
}

.gear-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &::before {
        content: "";
        display: block;
        background: url(/images/gear/gear-atlas.png) no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

@mixin gear-image($size, $yOffset, $class: '') {
    .gear-icon#{$class} {
        &, .gear-icon-img {
            width: $size;
            height: $size;
        }

        &.tier1::before {
            background-position: (-1 * $size) $yOffset;
        }

        &.tier2::before, &.tier3::before {
            background-position: (-2 * $size) $yOffset;
        }

        &.tier4::before, &.tier5::before, &.tier6::before {
            background-position: (-3 * $size) $yOffset;
        }

        &.tier7::before, &.tier8::before, &.tier9::before, &.tier10::before {
            background-position: (-4 * $size) $yOffset;
        }

        &.tier11::before {
            background-position: (-5 * $size) $yOffset;
        }

        &.tier12::before, &.tier13::before {
            background-position: (-6 * $size) $yOffset;
        }
    }
}

// No class version has to be first
@include gear-image(50px, -144px);

@include gear-image(80px,    0px, '.giant');
@include gear-image(64px,  -80px, '.large');
@include gear-image(40px, -194px, '.mini');
@include gear-image(32px, -234px, '.micro');

.gear-icon-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3
}

.gear-icon-inner {
    display: block;
    background: radial-gradient(#aaa,#000 80%);
    border-radius: 13px 0 13px 7px;
    overflow: hidden;

    .gear-icon.large & {
        border-radius: 20px 2px 20px 14px;
    }

    .tier1 & {
        background: radial-gradient(#4391a3,#000 80%);
    }

    .tier2 &, .tier3 & {
        background: radial-gradient(#4c9601,#000 80%);
    }

    .tier4 &, .tier5 &, .tier6 & {
        background: radial-gradient(#004b65,#000 80%);
    }

    .tier7 &, .tier8 &, .tier9 &, .tier10 &, .tier11 & {
        background: radial-gradient(#4700a7,#000 80%);
    }

    .tier12 & {
        background: radial-gradient(#997300,#000 80%);
    }

    .tier13 & {
        background: radial-gradient(#772c05,#000 80%);
    }
}

.gear-icon-mk-level {
    position: absolute;
    right: 2px;
    top: 2px;
    color: #fff;
    z-index: 10;
    font-size: 8px;
    text-shadow: 0 2px 2px #000;
    background-color: rgba(0,0,0,.3);
    padding: 3px 3px 0;
    line-height: 1;

    .gear-icon.large & {
        font-size: 14px;
        font-weight: 700;
        right: 4px;
        top: 4px
    }
}
