// Typography
$font-family-sans-serif: "Nanum Gothic", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$sw-yellow: #fce34d;
$swgoh-orange: #d47c3f;
$discord-purple: #7289da;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$text: #636b6f;
$light-text: #e0e9f0;

$primary:       #0483B4;
$hover:         #024d69;
$secondary:     #FFCA47;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;

$mod-colors: (
     #cdffff,
     #99ff33,
     #1d99ff,
     #a35eff,
     $sw-yellow,
);

$rainbow-colors: (
     "red": #990000,
     "orange": #cc9900,
     "yellow": #cccc00,
     "green": #33cc00,
     "blue": #336699,
     "purple": #9900cc,
);

:root {
     @each $name, $code in $rainbow-colors {
          --rainbow-#{$name}: #{$code};
     }
}
