
@import "fonts";
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~ionicons/dist/scss/ionicons';
@import '~vue-popover/dist/styles';
@import '~vue-cool-select/dist/themes/bootstrap.css';

html, body {
  color: $text;
  font-family: $font-family-sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

body{
  background-color: #4f555d;
  background: url(/images/main.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &.no-bg {
    background: #4f555d;
  }
}

.navbar-laravel {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.full-height {
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fill-height {
  height: 100%;
}

.spacing > * {
  margin: 8px 16px;
}

.content {
  width: 100%;

  h1:first-child {
    margin-top: 0;
  }

  b, strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  .markdown {
    background: rgba(255, 255, 255, 0.9);
    $margin: 32px;

    h1, h2, h3, h4, h5 {
      padding: .15em $margin;
    }

    h2 {
      background-color: #a9a9a9;
    }

    h3 {
      background-color: #c0c0c0;
    }

    & > p, & > ul, & > ol {
      margin-right: $margin;
      margin-left: $margin;
    }

    li {
      list-style-type: disc;
      margin-left: 24px;
    }
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1149px) {
  .content {
      padding-top: 74px;
  }
}

@media (min-width: 110ex) {
  .content {
    .container {
      width: 110ex;

      &.guild-stats {
        width: 120ex;
      }
    }
  }
}

@media (max-width: 110ex) {
  .content {
    .markdown {
      h1, h2, h3, h4, h5 {
        font-size: 1.5rem;
      }
    }
  }
}

.center {
  text-align: center;
}

.title {
  font-size: 84px;
}

.guides {
  display: flex;
  flex-direction: column;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.logo {
  width: 200px;
  height: 42px;

  svg {
    width: 100%;
    fill: #636b6f;
  }
}

.gg-link {
  height: 35px;
  width: 35px;
  padding: 2px;
  border: 1px solid;
  display: inline-block;
  border-color: $swgoh-orange;
  background-color: $swgoh-orange;
  border-radius: 8px;

  svg {
    height: 100%;
    width: 100%;
    fill: $white;
  }

  &:hover {
    background-color: $white;

    svg {
      fill: $swgoh-orange;
    }
  }
}

a:not(.gg-link) {
  &[target="_gg"] {
    position: relative;

    &:hover {
      text-decoration: none;
      span {
        text-decoration: underline;
      }
      &::after {
        content: '';
        background-image: url(/images/bb8.svg);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
        text-decoration: none;
        margin-left: 4px;

        h1 & {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

.row.align-items-center {
  h1 {
    margin-bottom: 0;
  }
}

.card {
  margin-top: 16px;

  .card-header {
    margin: 0;
  }

  &.stripes {
    .card-body:nth-child(odd) {
      background: $gray-200;
    }
  }
}

.prospective-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color, 600ms, ease-in-out;
  padding: 8px;

  &:hover {
    background-color: rgba($color: #636b6f, $alpha: 0.3);
  }
}

.icon {
  font-size: 24px;

  .with-text & {
    font-size: 18px;
    margin-top: 1px;
  }
}

.btn.btn-icon {
  padding: 4px 6px;
  line-height: 1;
  display: flex;
  align-items: center;

  & > :not(:first-child) {
    margin-left: 4px;
  }

  &.with-text {
    padding: 0.375rem 0.75rem;
  }
}

.control-wrapper {
  display: flex;
  justify-content: center;
}
.segmented-control.segmented-control {
	border: 1px solid $primary;
	border-radius: 2px;
	margin-left: 5px;
	width: unset;
  text-transform: capitalize;

	> * {
    cursor: pointer;
    min-width: 44px;
		padding: 4px 8px;
		display: inline-block;
		text-align: center;
		border-right: 1px solid $primary;
    outline: none;
    transition-property: color, background-color;
    transition-timing-function: ease;
    transition-duration: 0.3s;

		&:last-child {
			border-right: none;
    }

    &:hover {
      color: #333333;
      background-color: rgba($color: $primary, $alpha: 0.2)
    }

		&.selected {
      background: $primary;
      color: $white;
		}
	}
}

.list-table {
  display: flex;
  flex-direction: column;
  align-items: center;

  table {
    margin: 24px 0;
    th {
      white-space: nowrap;
    }
    td, th {
      padding: 4px 8px;
      border-bottom: 1px solid #636b6f;
    }

    td:not(:first-of-type) {
      text-align: right;
      padding-right: 18px + 8px;
    }
  }
}

table.sortable {
  th {
    vertical-align: bottom;
    span {
      display: flex;
      align-items: center;
    }

    &:not(:first-of-type) span {
      justify-content: flex-end;
    }

    span::after {
      content: '';
      display: block;
      margin-top: 2px;
      margin-left: 8px;
      width: 10px;
      height: 10px;
      transform-origin: center 25%;
      border: 5px solid transparent;

      transition-property: transform, border-color;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }


    &.sorted span::after {
      border-top-color: #636b6f;
    }

    &.reverse span::after {
      transform: rotate(180deg);
    }
  }
}

.guild-stats .list-table {
  table.sortable {
    max-width: 100%;

    span::after {
      position: relative;
      left: 8px;
      margin-left: 0;
    }

    td:not(:first-of-type) {
      padding-right: 18px;
    }
  }
}

.border-bottom {
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
}

.small-note {
  font-size: 10px;
}

@import "grid";
@import "mods";
@import "units";
@import "character";
@import "extensions";
@import "member";