@import "bootstrap-fix";
@import "fonts";
@import "variables";

@import '~bootstrap/scss/bootstrap';

body {
    font-family: $font-family-sans-serif;
}

$hero-width: 500px;

.logo.hero {
    width: $hero-width;
    fill: $sw-yellow;
}

.description {
    margin-top: 16px;
    color: $sw-yellow;
    width: $hero-width;

    a {
        color: $sw-yellow;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.nav-links {
    margin-top: 16px;
    width: $hero-width;
    display: flex;
    justify-content: space-evenly;

    a {
        color: white;
        font-weight: bold;
        background: #fce34d;
        border-radius: 12px;
        text-decoration: none;
        flex-grow: 1;
        flex-basis: 50%;
        padding: 16px;
        margin: 0 8px;
        font-size: 24px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.guild-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 1016px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.narrow-links {
    display: none;
}

.guild {
    width: 500px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 16px;
    border-radius: 8px;

    img {
        height: 75px;
        width: 75px;
        margin: 0 16px;
    }

    transition-property: transform, background-color, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    transition-delay: 0;

    .down-scroll + *:not(.down-scroll) & {
        transform: translate3d(0, 0, 0);
        transition-delay: 900ms;
        background-color: rgba(255, 255, 255, 0.8);
        opacity: 1;
    }

    &.guild:hover {
        opacity: 0.8;
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 16px;
        flex-grow: 1;
        margin: 0 16px 0 0;

        .name {
            font-size: 24px;
            margin-bottom: 8px;
        }

        .sub {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}

.the-poster {
    width: 640px;
    background-image: url(/images/welcome/stars.jpg);
    border: none;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    perspective: 600px;

    font-family: 'ITC Machine Standard';
    text-align: center;
    color: white;

    h1 {
        font-size: 72px;
        text-shadow: 4px 4px 0 #2f4cc7;
        transform: scaleY(4.5) rotateX(64deg);
        margin: 24px 0 0;
    }

    .logo {
        margin: 12px 8px;
        svg {
            fill: $sw-yellow;
        }
    }

    h2 {
        color: $white;
        text-shadow: 4px 4px 0 #2f4cc7;
        font-size: 55px;
        transform: scaleY(1.5);
        margin: 12px 0 0;
    }

    img, table {
        margin: 16px 16px 0;
    }

    img {
        width: calc(100% - 2 * 16px);
    }

    table {
        $border-style: 1px solid $white;
        background: black;
        border: $border-style;
        margin-bottom: 12px;

        thead {
            tr {
                border-bottom: $border-style;
            }
        }

        td:first-of-type {
            text-align: left;
            padding-left: 16px;
        }

        th:not(:first-of-type), td:not(:first-of-type) {
            border-left: $border-style;
        }

        th > div, td > div {
            margin: 2px 0 -4px;
        }
    }

    .discord-link {
        font-size: 48px;
        transform: scaleY(1.5);
        text-shadow: 0 0 4px #2f4cc7;
        margin-top: 12px;
        .small {
            font-size: 70%;
            transform: scaleX(1.1);
            display: inline-block;
            margin: 0 1px;
        }
    }

}

@media (max-width: 600px) {
    $headingSize: 6vh;

    :root {
        --guild-height: calc(100% - #{$headingSize});
        --guild-item-height: calc((var(--guild-height) / var(--number-of-guilds)) - 16px);
    }

    .narrow-links {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;

        display: flex;
        justify-content: space-around;
        z-index: 100;

        a {
            color: white;
            font-weight: bold;
            background: rgba($color: white, $alpha: 0.25);
            border-radius: 12px;
            text-decoration: none;
            flex-grow: 1;
            flex-basis: 50%;
            padding: 8px;
            margin: 4px;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;

            &:hover {
                opacity: 1;
            }
        }
    }

    .logo.hero,
    .description,
    .nav-links,
    .guild-list {
        width: calc(100% - 16px);
    }

    .guild-list {
        height: var(--guild-height);
    }

    .nav-links a {
        font-size: 16px;
    }

    .parallax-container > section:not(:first-of-type) .content {
        &-wrapper {
            justify-content: flex-start;

            .col-form-label,
            .form-control,
            .btn {
                font-size: 14px;
            }
        }
    }

    .parallax-container.parallax-container > section .content {
        &-title {
            margin-top: 50px;
            font-size: $headingSize;
            line-height: 1.2;
        }
    }

    .guild {
        width: 100%;
        height: var(--guild-item-height);
        align-items: center;

        img {
            height: 44px;
            width: 44px;
            margin: 0 8px;
        }

        .info {
            font-size: 18px;
            margin: 0 8px;
            justify-content: space-between;

            .name {
                font-size: calc(1vh + 1vw + 1vmin);
                margin-bottom: 4px;
            }
        }
    }
}

.rainbow-colors {
    $keys: map-keys($rainbow-colors);
    $length: length($keys);
    @each $name in $keys {
        $index: index($keys, $name);
        > :nth-child(#{$length}n - #{$length - $index}) {
            color: var(--rainbow-#{$name});
        }
   }
}