$base: 80px;

.portrait {
    margin: 0px;
    position: relative;
    height: $base;
    width: $base;
    box-sizing: border-box;
    font-family: Verdana;

    > .character {
        position: absolute;
        margin: 0px;
        top: 45px / 400px * $base;
        left: 30px / 400px * $base;
        height: 340px / 400px * $base;
        width: 340px / 400px * $base;
        box-sizing: border-box;
        background: #000000;

        &.round { border-radius: 50%; }
    }

    > .gear {
        position: absolute;
        margin: 0px;
        top: 45px / 400px * $base;
        left: 30px / 400px * $base;
        height: 340px / 400px * $base;
        width: 340px / 400px * $base;
        box-sizing: border-box;
        background-image: var(--gear-image);
        background-repeat: no-repeat;
        background-size: 100%;

        &.g13 {
            top: 20px / 400px * $base;
            left: -10px / 400px * $base;
            height: 420px / 400px * $base;
            width: 420px / 400px * $base;

            .light & {
                background-position: 0% 0%;
            }
            .dark & {
                background-position: 0% 52%;
            }
            .neutral & {
                background-position: 0% 104%;
            }
        }
    }

    > .stars {
        position: relative;
        display: block;
        width: 200px / 400px * $base;
        font-size: 0;
        text-align: center;
        margin: 0px;
        padding: 0px;

        > .full {
            color: #F6D913;
            width: 50px / 400px * $base;
            height: 50px / 400px * $base;
            position: absolute;
            display: inline-block;
        }
        > .empty {
            color: #AAA;
            width: 50px / 400px * $base;
            height: 50px / 400px * $base;
            position: absolute;
            display: inline-block;
        }


        > *:nth-child(1) {
            left: 0px;
            top: 105px / 400px * $base;
            transform: rotate(-62deg);
        }

        > *:nth-child(2) {
            left: 40px / 400px * $base;
            top: 48px / 400px * $base;
            transform: rotate(-43deg);
        }

        > *:nth-child(3) {
            left: 100px / 400px * $base;
            top: 12px / 400px * $base;
            transform: rotate(-18deg);
        }

        > *:nth-child(4) {
            left: 175px / 400px * $base;
            top: 0px;
        }

        > *:nth-child(5) {
            left: 250px / 400px * $base;
            top: 12px / 400px * $base;
            transform: rotate(18deg);
        }

        > *:nth-child(6) {
            left: 310px / 400px * $base;
            top: 48px / 400px * $base;
            transform: rotate(43deg);
        }

        > *:nth-child(7) {
            left: 350px / 400px * $base;
            top: 105px / 400px * $base;
            transform: rotate(62deg);
        }
    }

    > .zetas {
        position: absolute;
        bottom: 10px / 400px * $base;
        left: 0px;
        height: 160px / 400px * $base;
        width: 160px / 400px * $base;
        text-align: center;
        font-size: 50px / 400px * $base;
        text-align: center;

        > img {
            position: relative;
            bottom: 0px;
            height: 160px / 400px * $base;
            width: 160px / 400px * $base;
        }

        > .value {
            position: absolute;
            color: #FFF;
            font-weight: 700;
            top: 40px / 400px * $base;
            left: 52.5px / 400px * $base;
            height: 60px / 400px * $base;
            width: 60px / 400px * $base;
            text-align: center;
            vertical-align: middle;
            text-shadow: 0 1px 0 #7028c9;
        }
    }

    > .level {
        position: absolute;
        bottom: 10px / 400px * $base;
        left: 150px / 400px * $base;
        height: 100px / 400px * $base;
        width: 100px / 400px * $base;
        font-size: 40px / 400px * $base;
        text-align: center;
        vertical-align: middle;
        border: (10px / 400px * $base) solid #fff;
        border-radius: 50px / 400px * $base;
        border-radius: 100%/130% 130% (75px / 400px * $base) (75px / 400px * $base);
        box-sizing: border-box;
        background: #264257;

        > .value {
            position: relative;
            color: #FFF;
            height: 100px / 400px * $base;
            top: 0px / 400px * $base;
            left: 2px / 400px * $base;
            font-size: 56px / 400px * $base;
            text-shadow: 0 1px 0 black;
        }
    }


    > .relic {
        position: absolute;
        bottom: -1px;
        right: 0px;
        height: 180px / 400px * $base;
        width: 180px / 400px * $base;
        text-align: center;
        font-size: 50px / 400px * $base;
        text-align: center;
        background-image: url('/images/units/abilities/relic.png');
        background-repeat: no-repeat;
        background-size: 100%;

        .light & {
            background-position: 0% 0%;
        }
        .dark & {
            background-position: 0% 52%;
        }
        .neutral & {
            background-position: 0% 104%;
        }

        > .value {
            position: absolute;
            color: #FFF;
            font-weight: 700;
            top: 40px / 400px * $base;
            left: 60px / 400px * $base;
            height: 60px / 400px * $base;
            width: 60px / 400px * $base;
            text-align: center;
            vertical-align: middle;
            text-shadow: 0 1px 0 black;
        }
    }
}
