.container.guild-members.guild-members {
    width: 1500px;
}
.unit-list, .guild-list {
    .row {
        margin-bottom: 8px;
        justify-content: stretch;
        align-items: center;
        padding: 4px 16px;

        &:not(:last-child) {
            border-bottom: 1px solid grey;
        }
    }
}
.unit-list {
    .row {
        > * {
            flex-grow: 1;
        }
        :first-child {
            flex-basis: 200px;
            text-align: right;
            margin-right: 8px;
            flex-grow: 0;
        }
        :last-child {
            flex-grow: 0;
        }
    }
}
.guild-list {
    .row {
        > * {
            flex-grow: 0;
            &:not(:first-child) {
                margin-left: 8px;
            }
        }
        :first-child {
            flex-grow: 1;
        }
    }
}

.add-row {
    justify-content: flex-start;
    padding: 8px;
    > * {
        margin-right: 8px;
    }
}
.member-list {
    .member {
        margin-bottom: 8px;
        padding-bottom: 8px;

        &:not(:last-child) {
            border-bottom: 1px solid grey;
        }
        .row {
            justify-content: stretch;
            align-items: center;
            padding: 4px 16px;
            > * {
                flex-grow: 0;
                &:not(:first-child) {
                    margin-left: 8px;
                }
            }
            :first-child {
                flex-grow: 1;
            }
        }
    }

    table {
        width: 100%;

        td {
            border: 1px solid black;
            text-align: center;

            &:first-of-type {
                text-align: left;
                padding-left: 8px;
            }
        }
    }
}

.team-set {
    > span {
        padding: 4px;
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: center;

        background-color: red;

        &[gear="12"] {
            background-color: rgba($color: gold, $alpha: 0.5);
        }

        &[gear="11"], &[gear="10"] {
            background-color: rgba($color: rebeccapurple, $alpha: 0.5);
        }
    }

    [highlight="stars"] & > span {
        background-color: red;
        &[stars="7"] {
            background-color: rgba($color: gold, $alpha: 0.5);
        }
    }
}