.container.guild-members.guild-members {
    width: 1500px;
}
.unit-list, .guild-list {
    .row {
        margin-bottom: 8px;
        justify-content: stretch;
        align-items: center;
        padding: 4px 16px;

        &:not(:last-child) {
            border-bottom: 1px solid grey;
        }
    }
}
.unit-list {
    .row {
        > * {
            flex-grow: 1;
        }
        :first-child {
            flex-basis: 200px;
            text-align: right;
            margin-right: 8px;
            flex-grow: 0;
        }
        :last-child {
            flex-grow: 0;
        }
    }
}
.guild-list {
    .row {
        > * {
            flex-grow: 0;

            &:not(:first-child) {
                margin-left: 8px;
            }

            &:first-child {
                flex-grow: 1;
            }
        }
    }
}

.add-row {
    justify-content: flex-start;
    padding: 8px;
    > * {
        margin-right: 8px;
    }
}
.member-list {
    .member {
        margin-bottom: 8px;
        padding-bottom: 8px;

        &:not(:last-child) {
            border-bottom: 1px solid grey;
        }
        .row {
            justify-content: stretch;
            align-items: center;
            padding: 4px 16px;
            > * {
                flex-grow: 0;
                &:not(:first-child) {
                    margin-left: 8px;
                }
            }
            :first-child {
                flex-grow: 1;
            }
        }
    }

    table {
        width: 100%;

        td {
            height: 1px;
            vertical-align: top;
            border: 1px solid black;
            text-align: center;

            &:first-of-type > a {
                display: block;
                text-align: left;
                margin-left: 8px;
            }

            > * {
                height: 100%;
            }
        }
    }

    .unit-table tbody td:first-of-type {
        width: 100px;
    }
}

.team-set {
    > * {
        height: 100%;
        padding: 4px;
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: flex-start;

        background-color: red;

        &[gear="12"] {
            background-color: rgba($color: gold, $alpha: 0.5);
        }

        &[gear="11"], &[gear="10"] {
            background-color: rgba($color: rebeccapurple, $alpha: 0.5);
        }
    }

    [highlight="stars"] & [stars] {
        background-color: red;
        &[stars="7"] {
            background-color: rgba($color: gold, $alpha: 0.5);
        }
    }
    [highlight="power"] & [power] {
        background-color: red;
        &[power="1"] {
            background-color: rgba($color: rebeccapurple, $alpha: 0.5);
        }
        &[power="2"] {
            background-color: rgba($color: gold, $alpha: 0.5);
        }
    }
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;

    > span:last-child {
        display: flex;
        align-items: baseline;
        justify-content: center;

        .zeta {
            font-size: 10px;
            margin-left: 4px;
            border-radius: 50%;
            background: rgba($color: black, $alpha: 0.6);
            color: white;
            font-weight: bold;
            width: 16px;
            height: 16px;
        }
    }
}

.row.row.top.top {
    align-items: flex-start;
}

.grow.grow {
    flex-grow: 1;
}

@media (min-width: 110ex) {
    .row.row.nowrap {
        flex-wrap: nowrap;
    }
}