

// Typography
$font-family-sans-serif: "Nanum Gothic", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$sw-yellow: #fce34d;
$swgoh-orange: #d47c3f;
$discord-purple: #7289da;

$text: #636b6f;

$primary:       #0483B4;
$hover:         #024d69;
$secondary:     #FFCA47 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$mod-colors: (
     #cdffff,
     #99ff33,
     #1d99ff,
     #a35eff,
     $sw-yellow,
);

$rainbow-colors: (
     "red": #990000,
     "orange": #cc9900,
     "yellow": #cccc00,
     "green": #33cc00,
     "blue": #336699,
     "purple": #9900cc,
);

:root {
     @each $name, $code in $rainbow-colors {
          --rainbow-#{$name}: #{$code};
     }
}
