
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700");

// Typography
$font-family-sans-serif: "Nanum Gothic", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$sw-yellow: #fce34d;