
@import "fonts";
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  color: #636b6f;
  font-family: $font-family-sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;

  background-color: #084170;
  background: url(/images/main.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar-laravel {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: -webkit-sticky;
  top: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content {
  .container {
    width: 110ex;
  }

  h1:first-child {
    margin-top: 0;
  }

  b, strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  .markdown {
    background: rgba(255, 255, 255, 0.9);
    $margin: 32px;

    h1, h2, h3, h4, h5 {
      padding: .15em $margin;
    }

    h2 {
      background-color: #a9a9a9;
    }

    h3 {
      background-color: #c0c0c0;
    }

    p, ul, ol {
      margin-right: $margin;
      margin-left: $margin;
    }

    li {
      list-style-type: disc;
      margin-left: 24px;
    }
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1149px) {
  .content {
      padding-top: 74px;
  }
}

.center {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.logo {
  width: 200px;
  height: 42px;

  svg {
    width: 100%;
    fill: #636b6f;
  }
}

.card {
  margin-top: 16px;
}

.prospective-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color, 600ms, ease-in-out;
  padding: 8px;

  &:hover {
    background-color: rgba($color: #636b6f, $alpha: 0.3);
  }
}

.file-label {
  input {
    display: none;
  }

  display: inline-block;
  color: white;
  padding: 8px;
  background: $primary;
  border-radius: 8px;
  cursor: pointer;
}

.container.mods {
  width: 1300px;
  max-width: 1300px;
}


[mod-set] {
  position: relative;
  &::before {
    content: attr(mod-set);
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: rgba(255,255,255,0.3);
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 10px;
  }
}

.set {
    padding: 8px;
    background: #dedede;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.set, [mod-set] {
  &.active {
    box-shadow: 0px 0px 15px $secondary;
  }
}

.mod-wrapper {
  margin: 8px;
}

.mod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  box-sizing: content-box;
  height: 90px;
  background: #dedede;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #636b6f;
    color: white;
  }

  .info {
      display: flex;
  }

  .description, .data {
      display: flex;
      flex-direction: column;
      position: relative;
  }

  .primary, .secondary {
      white-space: nowrap;
      text-transform: capitalize;
  }

  .primary {
      font-size: 12px;
  }
  .secondary {
      font-size: 9px;
  }
  .character {
      font-size: 10px;
      text-align: center;
  }

  .level {
      position: absolute;
      right: 10px;
      font-size: 12px;
      background: #495057;
      color: #17a2b8;
      padding: 0 2px;
      border-radius: 4px;
      top: 40px;

      &.max {
          color: $sw-yellow;
      }
  }

  .pips {
      display: inline-block;
      background-color: #000;
      width: 53px;
      height: 10px;
      border-radius: 8px;
      line-height: 10px;
      padding: 1px 2px;
      margin-right: 6px;
      color: #fff;

      .pip {
          display: inline-block;
          width: 5px;
          height: 5px;
          background-color: $sw-yellow;
          border-radius: 6px;
          vertical-align: middle;
          margin-left: 1px;
          margin-right: 1px;
          margin-bottom: 4px;
      }
  }
}