@import "fonts";
@import "variables";
body {
  font-family: $font-family-sans-serif;
}

$hero-width: 500px;
.logo.hero {
  width: $hero-width;
  fill: $sw-yellow;
}

.description {
  margin-top: 16px;
  color: $sw-yellow;
  width: $hero-width;
  a {
    color: $sw-yellow;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-links {
  margin-top: 16px;
  width: $hero-width;
  display: flex;
  justify-content: space-evenly;
  a {
    color: white;
    font-weight: bold;
    background: #fce34d;
    border-radius: 12px;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 50%;
    padding: 16px;
    margin: 0 8px;
    font-size: 24px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.guild-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;


  $number-of-guilds: 8;
  @for $i from 1 to ($number-of-guilds + 1) {
    .guild:nth-child(#{$i}), &.test.test .guild.guild:nth-child(#{$i}) {
      transform: translate3d(0, ($i - 1) * -1 * (75px + 16px), 0);
      z-index: $number-of-guilds - $i + 1;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}