@import "fonts";
@import "variables";

@import '~bootstrap/scss/bootstrap';

body {
  font-family: $font-family-sans-serif;
}

$hero-width: 500px;
$number-of-guilds: 10;

.logo.hero {
  width: $hero-width;
  fill: $sw-yellow;
}

.description {
  margin-top: 16px;
  color: $sw-yellow;
  width: $hero-width;
  a {
    color: $sw-yellow;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-links {
  margin-top: 16px;
  width: $hero-width;
  display: flex;
  justify-content: space-evenly;
  a {
    color: white;
    font-weight: bold;
    background: #fce34d;
    border-radius: 12px;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 50%;
    padding: 16px;
    margin: 0 8px;
    font-size: 24px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.guild-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 1016px;
  flex-wrap: wrap;
  margin: 0 auto;

  @for $i from 1 to ($number-of-guilds + 1) {
    .guild:nth-child(#{$i}), &.test.test .guild.guild:nth-child(#{$i}) {
      transform: translate3d(0, ceil($i / 2) * -1 * (75px + 16px), 0);
      z-index: $number-of-guilds - $i + 1;
      background-color: rgba(255, 255, 255, 1);
      opacity: 0;
    }
  }
}

.narrow-links {
  display: none;
}

@media (max-width: 600px) {
  .narrow-links {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    z-index: 100;

    a {
      color: white;
      font-weight: bold;
      background: rgba($color: white, $alpha: 0.25);
      border-radius: 12px;
      text-decoration: none;
      flex-grow: 1;
      flex-basis: 50%;
      padding: 8px;
      margin: 4px;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;

      &:hover {
        opacity: 1;
      }
    }
  }

  .logo.hero, .description, .nav-links, .guild-list {
    width: calc(100% - 16px);
  }

  .nav-links a {
    font-size: 16px;
  }

  .content-title {
    margin-top: 50px;
  }
}
